/** Metadata editor css */
.noJavaScript {
	width: 22em;
	position: absolute;
	left: 50%;
	margin-left: -11em;
	color: red;
	background-color: white;
	border: 1px solid red;
	padding: 4px;
	font-family: sans-serif "
}

/** Xml syntax highliter */
.xml_plain {
	color: rgb(0, 0, 0);
}

.xml_tag_name {
	color: rgb(0, 55, 255);
}

.xml_comment {
	color: rgb(147, 147, 147);
	background-color: rgb(247, 247, 247);
}

.xml_tag_symbols {
	color: rgb(0, 59, 255);
}

.xml_rife_tag {
	color: rgb(0, 0, 0);
	background-color: rgb(228, 230, 160);
}

.xml_attribute_value {
	color: rgb(193, 0, 0);
}

.xml_attribute_name {
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.xml_char_data {
	color: rgb(0, 0, 0);
}

code {
	color: rgb(0, 0, 0);
	font-family: monospace;
	font-size: 12px;
	white-space: nowrap;
}

.xml_rife_name {
	color: rgb(0, 0, 196);
	background-color: rgb(228, 230, 160);
}

.xml_processing_instruction {
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-style: italic;
}

.infoTabImg {
	border: 3px solid;
	max-height: 300px;
	max-width: 300px;
}

input {
	font-size: 13px;
	width: 150px;
}

.interactImageHover {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	border: 1px solid #808080;
	padding: 5px;
	background-color: #bad4ee;
	color: black;
}

.greenFont {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	color: green;
	width: 100px;
}

.loading {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	color: black;
	width: 100px;
}

.noFx {
	border: none;
}

.redFont {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	color: red;
	width: 100px;
}

.username {
	text-align: right;
	padding-right: 10px;
}

.pseudolink {
	text-decoration: underline;
	color: blue;
}

.pseudolink:active {
	color: red;
	text-decoration: none;
}

.pseudolink:link {
	color: blue;
	text-decoration: underline;
}

.pseudolink:visited {
	color: purple;
	text-decoration: underline;
}

.pseudolink:focus {
	color: red;
	text-decoration: none;
}

.pseudolink:hover {
	color: red;
	text-decoration: none;
}

a {
	text-decoration: underline;
	color: blue;
}

a:active {
	color: red;
	text-decoration: none;
}

a:link {
	color: blue;
	text-decoration: underline;
}

a:visited {
	color: purple;
	text-decoration: underline;
}

a:focus {
	color: red;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

.metadata-elements {
	padding-left: 30px;
	padding-right: 15px;
}

.metadata-attributes {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.metadata-sectionstack-topmargin {
	margin-top: 5px;
	padding-left: 30px;
	padding-right: 15px;
}

.no-style {
	border: 0px;
	padding: 3px;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity =   50);
	z-index: 800001;
}

.gwt-PopupPanel {
	border: 3px solid #888888;
	padding: 3px;
	background: #000;
	z-index: 800001;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity =   50);
	z-index: 800001;
}

html>body .gwt-PopupPanel {
	
}

* html .gwt-PopupPanel {
	
}

.gwt-DecoratedPopupPanel .popupContent {
	
}

.gwt-DecoratedPopupPanel .popupMiddleCenter {
	padding: 3px;
	background: #d0e4f6;
}

.gwt-DecoratedPopupPanel .popupTopCenter {
	background: url(images/hborder.png) repeat-x;
}

.gwt-DecoratedPopupPanel .popupBottomCenter {
	background: url(images/hborder.png) repeat-x 0px -4px;
	-background: url(images/hborder_ie6.png) repeat-x 0px -4px;
}

.gwt-DecoratedPopupPanel .popupMiddleLeft {
	background: url(images/vborder.png) repeat-y;
}

.gwt-DecoratedPopupPanel .popupMiddleRight {
	background: url(images/vborder.png) repeat-y -4px 0px;
	-background: url(images/vborder_ie6.png) repeat-y -4px 0px;
}

.gwt-DecoratedPopupPanel .popupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupTopLeft {
	background: url(images/corner.png) no-repeat 0px -10px;
	-background: url(images/corner_ie6.png) no-repeat 0px -10px;
}

.gwt-DecoratedPopupPanel .popupTopRight {
	background: url(images/corner.png) no-repeat -5px -10px;
	-background: url(images/corner_ie6.png) no-repeat -5px -10px;
}

.gwt-DecoratedPopupPanel .popupBottomLeft {
	background: url(images/corner.png) no-repeat 0px -15px;
	-background: url(images/corner_ie6.png) no-repeat 0px -15px;
}

.gwt-DecoratedPopupPanel .popupBottomRight {
	background: url(images/corner.png) no-repeat -5px -15px;
	-background: url(images/corner_ie6.png) no-repeat -5px -15px;
}

html>body .gwt-DecoratedPopupPanel {
	
}

* html .gwt-DecoratedPopupPanel .popupTopLeftInner {
	width: 5px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupTopRightInner {
	width: 8px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupBottomLeftInner {
	width: 5px;
	height: 8px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupBottomRightInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}

.langSelectionCZ {
	background: url(./flags.gif) 0 0 no-repeat;
	margin-right: 10px;
}

.langSelectionCZ:hover {
	background: url(./flags.gif) 0 -18px no-repeat;
	margin-right: 10px;
}

.langSelectionEN {
	background: url(./flags.gif) 0 -18px no-repeat;
	margin-right: 10px;
}

.langSelectionEN:hover {
	background: url(./flags.gif) 0 0 no-repeat;
	margin-right: 10px;
}

.pageType {
	font-size: 10px;
	color: #404040;
}

.tileGridImgSelected {
	background: #8b8b8b;
}

.tileGridTitleSelected {
	background-color: #8b8b8b;
}


.tileGridImgMarked {
	background: #e71818;
}

.tileGridTitleMarked {
	background-color: #e71818;
}

.tileGridImgMarkedSelected {
	background: #9f1818;
}

.tileGridTitleMarkedSelected {
	background-color: #9f1818;
}


body {
	overflow: hidden;
	margin: 6px;
	margin-left: 4px;
}

#loading {
	border: 1px solid #ccc;
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
}

#loading a {
	color: #225588;
}

#loading .loadingIndicator {
	background: white;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	height: auto;
	color: #444;
}

#loadingMsg {
	font: normal 10px arial, tahoma, sans-serif;
}

.hotKey {
	font-family: monospace;
}

.a-btn{
    background: #9BA6B3;
    padding-left: 10px;
    padding-right: 60px;
    display: inline-block;
    position: relative;
    border: 1px solid #648BB9;
    box-shadow:
        0px 1px 1px rgba(255,255,255,0.8) inset,
        1px 1px 3px rgba(0,0,0,0.2),
        0px 0px 0px 4px rgba(188,188,188,0.5);
    border-radius: 10px;
    float: left;
    clear: both;
    margin: 5px 5px;
    overflow: hidden;
    transition: all 0.3s linear;
    cursor:pointer;
    width: 60%;
}
.a-btn-text{
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    font-size: 18px;
    white-space: nowrap;
    text-shadow: 0px 1px 1px rgba(213, 213, 213, 0.3);
    color: #283442;
    transition: all 0.2s linear;
    font-weight: 550;
}
.a-btn-icon-right{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 52px;
    border-left: 1px solid #5F7186;
    box-shadow: 1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width: 38px;
    height: 38px;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0px 0px -20px;
    transition: all 0.3s linear;
}
 .a-btn:hover{
    box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}
.a-btn:hover .a-btn-text{
    text-shadow: 0px 1px 1px #5d81ab;
    color: #fff;
} 
 .a-btn:hover .a-btn-slide-text{
    width: 100px;
} 
.a-btn:hover .a-btn-icon-right span{
    opacity: 1;
}
.a-btn:active {
    position: absolute;
    top: 1px;
    background: #7A8592;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color: #80a9a2;
}

.a-btn-selected{
    background: #a5bdda;
    padding-left: 10px;
    padding-right: 60px;
    display: inline-block;
    position: relative;
    border: 1px solid #5d81ab;
    border-radius: 10px;
    float: left;
    clear: both;
    margin: 5px 5px;
    overflow: hidden;
    transition: all 0.3s linear;
    cursor:pointer;
    width: 60%;
}

.a-btn-text-selected{
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    font-size: 18px;
    white-space: nowrap;
    text-shadow: 0px 1px 1px rgba(53, 53, 53, 0.3);
    color: #FFFFFF;
    transition: all 0.2s linear;
    font-weight: 550;
}

.a-btn-icon-right-selected{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 52px;
    border-left: 1px solid #697583;
    box-shadow: 1px 0px 1px rgba(255,255,255,0.4) inset;
}

.a-btn-icon-right-selected span{
    width: 38px;
    height: 38px;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0px 0px -20px;
    background: transparent url(images/other/button_menu_selected.png) no-repeat 50% 55%;
    transition: all 0.3s linear;
}

.stuccoBkgnd{
	background: url("images/other/stucco.png") repeat scroll left top rgb(249, 249, 249);
}