#mvn
target

#eclipse
.settings
.classpath
.project
*.launch

#idea
.idea
*.iml

META-INF
.gwt
*.swp
.errai

editor-confutils/src/main/java/cz/mzk/editor/client/util/*
editor-confutils/src/main/java/cz/mzk/editor/client/util/!ClientUtils.java
