/** Metadata editor css */



/** Xml syntax highliter */
.xml_plain {
color: rgb(0,0,0);
}
.xml_tag_name {
color: rgb(0,55,255);
}
.xml_comment {
color: rgb(147,147,147); background-color: rgb(247,247,247);
}
.xml_tag_symbols {
color: rgb(0,59,255);
}
.xml_rife_tag {
color: rgb(0,0,0); background-color: rgb(228,230,160);
}
.xml_attribute_value {
color: rgb(193,0,0);
}
.xml_attribute_name {
color: rgb(0,0,0); font-weight: bold;
}
.xml_char_data {
color: rgb(0,0,0);
}
code {
color: rgb(0,0,0); font-family: monospace; font-size: 12px; white-space: nowrap;
}
.xml_rife_name {
color: rgb(0,0,196); background-color: rgb(228,230,160);
}
.xml_processing_instruction {
color: rgb(0,0,0); font-weight: bold; font-style: italic;
}

input{
	font-size: 13px;
	width: 150px;
}

.interactImageHover {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    border:1px solid #808080;
    padding:5px;
    background-color:#bad4ee;
    color:black;
}

.greenFont {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    color:green;
    width: 100px;
}

.loading {
	font-family:Verdana,Bitstream Vera Sans,sans-serif;
    color:black;
    width: 100px;
}

.noFx {
    border: none;
}


.redFont {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    color:red;
    width: 100px;
}

.username {
	text-align: right;
	padding-right: 10px;
}

.pseudolink {
	text-decoration: underline;
	color: blue;
}


.pseudolink:active {
	color: red;
	text-decoration: none;
}

.pseudolink:link {
	color: blue;
	text-decoration: underline;
}

.pseudolink:visited {
	color: purple;
	text-decoration: underline;
}

.pseudolink:focus {
	color: red;
	text-decoration: none;
}

.pseudolink:hover {
	color: red;
	text-decoration: none;
}

a {
	text-decoration: underline;
	color: blue;
}


a:active {
	color: red;
	text-decoration: none;
}

a:link {
	color: blue;
	text-decoration: underline;
}

a:visited {
	color: purple;
	text-decoration: underline;
}

a:focus {
	color: red;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}



.metadata-elements {
	padding-left: 30px;
	padding-right: 15px;
}

.metadata-attributes {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.metadata-sectionstack-topmargin {
	margin-top: 5px;
	padding-left: 30px;
	padding-right: 15px;
}


.no-style {
  border: 0px;
  padding: 3px;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 800001;
}


.gwt-PopupPanel {
  border: 3px solid #888888;
  padding: 3px;
  background: #000;
  z-index: 800001;
}
.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 800001;
}
html>body .gwt-PopupPanel {
}
* html .gwt-PopupPanel {
}
.gwt-DecoratedPopupPanel .popupContent {
}
.gwt-DecoratedPopupPanel .popupMiddleCenter {
  padding: 3px;
  background: #d0e4f6;
}
.gwt-DecoratedPopupPanel .popupTopCenter {
  background: url(images/hborder.png) repeat-x;
}
.gwt-DecoratedPopupPanel .popupBottomCenter {
  background: url(images/hborder.png) repeat-x 0px -4px;
  -background: url(images/hborder_ie6.png) repeat-x 0px -4px;
}
.gwt-DecoratedPopupPanel .popupMiddleLeft {
  background: url(images/vborder.png) repeat-y;
}
.gwt-DecoratedPopupPanel .popupMiddleRight {
  background: url(images/vborder.png) repeat-y -4px 0px;
  -background: url(images/vborder_ie6.png) repeat-y -4px 0px;
}
.gwt-DecoratedPopupPanel .popupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}
.gwt-DecoratedPopupPanel .popupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}
.gwt-DecoratedPopupPanel .popupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-DecoratedPopupPanel .popupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}
.gwt-DecoratedPopupPanel .popupTopLeft {
  background: url(images/corner.png) no-repeat 0px -10px;
  -background: url(images/corner_ie6.png) no-repeat 0px -10px;
}
.gwt-DecoratedPopupPanel .popupTopRight {
  background: url(images/corner.png) no-repeat -5px -10px;
  -background: url(images/corner_ie6.png) no-repeat -5px -10px;
}
.gwt-DecoratedPopupPanel .popupBottomLeft {
  background: url(images/corner.png) no-repeat 0px -15px;
  -background: url(images/corner_ie6.png) no-repeat 0px -15px;
}
.gwt-DecoratedPopupPanel .popupBottomRight {
  background: url(images/corner.png) no-repeat -5px -15px;
  -background: url(images/corner_ie6.png) no-repeat -5px -15px;
}
html>body .gwt-DecoratedPopupPanel {
}
* html .gwt-DecoratedPopupPanel .popupTopLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupTopRightInner {
  width: 8px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

.checkButton {
	margin-bottom: 15px;
}


.langSelectionCZ {
	background: url(./flags.gif) 0 0 no-repeat;
	margin-right: 10px;
}
.langSelectionCZ:hover {
	background: url(./flags.gif) 0 -18px no-repeat;
	margin-right: 10px;
}
 
.langSelectionEN {
	background: url(./flags.gif) 0 -18px no-repeat;
	margin-right: 10px;
}
.langSelectionEN:hover {
	background: url(./flags.gif) 0 0 no-repeat;
	margin-right: 10px;
}

