<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- white list -->
    <security:http pattern="/html/**" security="none" />
	<security:http pattern="/images/**" security="none" />
	<security:http pattern="/css/**" security="none" />
	<security:http pattern="/js/**" security="none" />
	<security:http pattern="/favicon.ico" security="none" />
	<security:http pattern="/request4Adding/**" security="none" />
	<security:http pattern="/Shibboleth.sso/Login" security="none" />
	<security:http pattern="/viewer/**" security="none" />
		
	<!-- filters chain -->
	<security:http auto-config="true" use-expressions="true" disable-url-rewriting="true">
		<security:intercept-url pattern="/*/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/gwt/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/**/*.html" access="isAuthenticated()" />
		<security:intercept-url pattern="/**" access="isAuthenticated()" />
		<security:form-login    login-page="/html/login.html"
								default-target-url="/meditor" />
		<security:custom-filter before="PRE_AUTH_FILTER" ref="janrainAuthenticationFilter" />
		<security:custom-filter position="PRE_AUTH_FILTER" ref="shibbolethAuthenticationFilter" />
		<security:custom-filter after="PRE_AUTH_FILTER" ref="ldapAuthenticationFilter" />
		<!--comment out when using superDevMode-->
		<security:intercept-url pattern="/**" requires-channel="https" />

		<!-- As of Spring Security 4.0 CSRF is enabled by default, temporarily disabled -->
		<security:csrf disabled="true"/>
	</security:http>

	<bean id="ldapAuthenticationProvider"
		class="cz.mzk.editor.server.LDAP.LDAPAuthenticationProvider" />

	<bean id="janrainAuthenticationProvider"
		class="cz.mzk.editor.server.janrain.JanrainAuthenticationProvider">
	</bean>

	<bean id="shibbolethAuthenticationProvider"
		class="cz.mzk.editor.server.shibboleth.ShibbolethAuthenticationProvider">
	</bean>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider ref="ldapAuthenticationProvider" />
		<security:authentication-provider ref="janrainAuthenticationProvider" />
		<security:authentication-provider ref="shibbolethAuthenticationProvider" />
	</security:authentication-manager>

	<bean id="ldapAuthenticationFilter"
		class="cz.mzk.editor.server.LDAP.LDAPAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>

	<bean id="janrainAuthenticationFilter"
		class="cz.mzk.editor.server.janrain.JanrainAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>

	<bean id="shibbolethAuthenticationFilter"
		class="cz.mzk.editor.server.shibboleth.ShibbolethAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>

</beans>
