<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" metadata-complete="true">

	<display-name>Metadata editor</display-name>
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>auth-filter</filter-name>
		<filter-class>cz.fi.muni.xkremser.editor.server.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>auth-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>cz.fi.muni.xkremser.editor.server.guice.MyGuiceServletConfig</listener-class>
	</listener>

	<listener>
		<listener-class>cz.fi.muni.xkremser.editor.server.SessionListener</listener-class>
	</listener>

	<!-- authentication servlet -->
	<servlet>
		<servlet-name>AuthenticationServlet</servlet-name>
		<servlet-class>cz.fi.muni.xkremser.editor.server.AuthenticationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/auth/*</url-pattern>
	</servlet-mapping>

	<!-- request 4 adding servlet -->
	<servlet>
		<servlet-name>request4adding</servlet-name>
		<servlet-class>cz.fi.muni.xkremser.editor.server.RequestForAddingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>request4adding</servlet-name>
		<url-pattern>/request/ask</url-pattern>
	</servlet-mapping>



	<!-- Remote logging agent for gwt-log -->
	<servlet>
		<servlet-name>remoteLoggerServiceImpl</servlet-name>
		<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteLoggerServiceImpl</servlet-name>
		<url-pattern>/gwt-log</url-pattern>
	</servlet-mapping>

	<!-- Servlet for generating thumbnails -->
	<servlet>
		<servlet-name>ThumbnailService</servlet-name>
		<servlet-class>cz.fi.muni.xkremser.editor.server.ThumbnailServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThumbnailService</servlet-name>
		<url-pattern>/images/thumbnail/*</url-pattern>
	</servlet-mapping>

	<!-- Servlet for generating full images -->
	<servlet>
		<servlet-name>FullImgService</servlet-name>
		<servlet-class>cz.fi.muni.xkremser.editor.server.FullImgServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FullImgService</servlet-name>
		<url-pattern>/images/full/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>45</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>MEditor.html</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	
	 
  <resource-ref>
     <res-ref-name>jdbc/editor</res-ref-name>
     <res-type>javax.sql.DataSource</res-type>
     <res-auth>Container</res-auth>
  </resource-ref>

</web-app>